# TLS Config
TLS_JA3=
TLS_AKAMAI=

# Database Key
DB_KEY=

# Image Generation
CF_TOKEN=
CF_AID=

# Music Player
DISCORD_TOKENS=
LAVALINK_HOST=
LAVALINK_PORT=
LAVALINK_PASS=
LAVALINK_SSL=

# API Key
GOOG_TENOR=
GOOG_TENOR_EMOJI=
GOOG_WEATHER=
GOOG_MAPS=
KLIPY=
PEXELS=
TUMBLR=

# Custom Google Key
GOOG_EX=
GOOG_CX=
GOOG_RX=

# Spotify Search & Lyrics | sp_dc & sp_key (optional)
SPOTIFY_COOKIES=

# Openrouter key
OPEN=