# Database Key
DB_KEY=

# Image Generation
CF_TOKEN=
CF_AID=

# Music & Browser Challenges
MD_KEY=abcdef

# Music Player
DISCORD_TOKENS=
LAVALINK_HOST=["serenetia:lavalinkv4.serenetia.com:80:https://seretia.link/discord:false","jirayu:lavalink.jirayu.net:13592:youshallnotpass:false","kasawa:lava2.kasawa.pro:2334:youshallnotpass:false","millo:lava-v4.millohost.my.id:443:https://discord.gg/mjS5J2K3ep:true"]

# API Key
GOOG_TENOR=
GOOG_TENOR_EMOJI=
GOOG_WEATHER=
GOOG_MAPS=
KLIPY=
PEXELS=
TUMBLR=

# Custom Google Key
GOOG_EX=
GOOG_CX=
GOOG_RX=

# Spotify Search & Lyrics | sp_dc & sp_key (optional)
SPOTIFY_COOKIES=

# Openrouter key
OPEN=

# BG_Youtube key
YTREQUEST_KEY=
YTAPI_KEY=